@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;800&family=Montserrat:wght@400;800&display=swap');

//font-family: 'Bodoni Moda', serif;
//font-family: 'Montserrat', sans-serif;

$colorWhite: #fff;
$colorBeageu: #faf9f7;
$colorBlack: rgb(0, 0, 0);