<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ribarnica i riblja jela Ihtis</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    
    <link rel="stylesheet" href="/css/style.css">

    <script type="module" src="/js/index.js"></script>
</head>
<body>

    <div class="cover">
        <div class="cover-bar">
            <div class="cover-bar-border"></div>
        </div>
        <div class="cover-bar">
            <div class="cover-bar-border"></div>
        </div>
        <div class="cover-bar">
            <div class="cover-bar-border"></div>
        </div>
        <div class="cover-bar">
            <div class="cover-bar-border"></div>
        </div>
        <div class="cover-bar">
            <div class="cover-bar-border"></div>
        </div>
    </div>

    <div class="navigation">
        <div class="dot" data-href="#" data-num="1"></div>
        <div class="dot" data-href="about" data-num="2"></div>
        <div class="dot" data-href="menu" data-num="3"></div>
        <div class="dot" data-href="comments" data-num="4"></div>
        <div class="dot" data-href="contact" data-num="5"></div>
    </div>
    
    <main>

        <div class="sections">
            {{{body}}}
        </div>

    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
</body>
</html>