@keyframes hamburgerLineOne {
    from {
    }

    to {
        transform: rotate(55deg) translateY(15px);
    }
}

@keyframes hamburgerLineTwo {
    from {
    }

    to {
        transform: rotate(50deg);
    }
}

@keyframes svgDotAnimation {
    from {

    }

    to {
        transform: rotate(-55deg) translateY(-15px);
    }
}