@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600;700&display=swap');


$gold: #c39d63;
$gold: #f6741d;
$grey: #f9f9f9;
$darkGrey: #f0f0f0;
$cta: rgb(114, 10, 100);

//* Font: font-family: 'Lobster', cursive;
//* Special Font: font-family: 'Dancing Script', cursive;
// font-family: 'Sansita Swashed', cursive;