header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 5000;

    nav {
        height: 100%;
        display: flex;
        
        .logo-wrapp {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        
            .logo {
                font-size: 38px;
                font-family: 'Dancing Script', cursive;
                color: #fff;
            }
        }

        .menu-wrapp {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .hamburger {
                height: 22px;
                width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                cursor: pointer;
                z-index: 50;

                .line {
                    height: 2px;
                    width: 26px;
                    background: $darkGrey;
                }

                // .line:nth-child(1) {
                //     width: 35px;
                // }

                // .line:nth-child(2) {
                //     width: 25px;
                // }

                // .line:nth-child(3) {
                //     width: 15px;
                // }

                &.hamburger-active {
                   

                    .line:nth-child(1) {
                        animation: hamburgerLineOne 0.8s;
                        animation-fill-mode: forwards;
                        transform-origin: bottom;
                        width: 30px;
                        opacity: 1;
                        background-color: #000;
                    }
    
                    .line:nth-child(2) {
                        opacity: 0;
                        transition: 0.6s;
                        background-color: #000;
                    }
    
                    .line:nth-child(3) {
                        animation: hamburgerLineTwo 0.9s;
                        animation-fill-mode: forwards;
                        transform-origin: top;
                        width: 30px;
                        opacity: 1;
                        background-color: #000;
                    }
                }  
            }
        }

        .header-expanded {
            position: fixed;
            //background: $darkGrey;
            //background: $gold;
            background: #fff;
            height: 100%;
            width: 100%;
            left: 0;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: 1s;
            display: none;

            ul {
                height: 80%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                list-style: none;

                li {
                    a {
                        font-size: 22px;
                        color: #000;
                        //color: #fff;
                        font-weight: bold;
                        font-family: 'Lobster', cursive;
                    }
                }
            }

            &.expanded {
                display: flex;
                opacity: 1; 
            }
        }
    }
}

header.header-scrolled {
    background: #fff;
    box-shadow: 0px 0px 5px #ccc;
}

