@media screen and (max-width: 799px) {
    #info {
        height: 1300px;
        width: 100%;
        background: #fff;
    
        #info-wrapp {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
    
            #info-contact-wrapp {
                flex: 2;
    
                #info-contact-heading-wrapp {
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    h1 {
                        font-size: 32px;
                        font-family: 'Dancing Script', cursive;
                        color: #3f3f3f;
                    }
                }
    
                #info-contact-content {
                    width: 100%;
                    height: 700px;
                    display: flex;
                    flex-direction: column;
                
                    .info-contact-block {
                        flex: 1;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
    
                        .contact-info-time-item {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            border-bottom: 1px dotted #eee;
    
                            .info-heading {
                                font-family: 'Lobster', cursive;
                                font-size: 22px;
                            }
    
                            .info {
                                color: #3f3f3f;
                                margin-top: 5px;
                            }
                        }
    
                        .other-infos {
                            height: 250px;
                            width: 100%;
                            display: flex;
                            flex-direction: column;    
                            justify-content: space-between;
                            align-items: center;
    
                            .contact-info-other-item {
                                flex: 1;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
    
                                .other-info-heading {
                                    font-family: 'Lobster', cursive;
                                    font-size: 22px;
                                }
    
                                .other-info {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
    
            #info-map-wrapp {
                flex: 1;
                
                #map {
                    width: 100%;
                    height: 109%;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    #info {
        height: 900px;
        width: 100%;
        background: #fff;
    
        #info-wrapp {
            height: 100%;
            width: 100%;
            display: flex;
            //flex-direction: column;
    
            #info-contact-wrapp {
                flex: 1;
    
                #info-contact-heading-wrapp {
                    height: 150px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    h1 {
                        font-size: 32px;
                        font-family: 'Dancing Script', cursive;
                        color: #3f3f3f;
                    }
                }
    
                #info-contact-content {
                    width: 100%;
                    height: 700px;
                    display: flex;
                    flex-direction: column;
                
                    .info-contact-block {
                        flex: 1;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-evenly;
                        max-width: 500px;
    
                        .contact-info-time-item {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            border-bottom: 1px dotted #eee;
    
                            .info-heading {
                                font-family: 'Lobster', cursive;
                                font-size: 22px;
                            }
    
                            .info {
                                color: #3f3f3f;
                                margin-top: 5px;
                            }
                        }
    
                        .other-infos {
                            height: 250px;
                            width: 100%;
                            display: flex;
                            flex-direction: column;    
                            justify-content: space-between;
                            align-items: center;
    
                            .contact-info-other-item {
                                flex: 1;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
    
                                .other-info-heading {
                                    font-family: 'Lobster', cursive;
                                    font-size: 22px;
                                }
    
                                .other-info {
                                    margin-top: 5px;
                                }
                            }
                        }
                    }
                }
            }
    
            #info-map-wrapp {
                flex: 1;
                
                #map {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}