@media screen and (max-width: 799px) {
    #offer {
        height: 1650px;
        width: 100%;
        background: $grey;
    
        #offer-heading-wrapp {
            height: 200px;
            width: 100%;
            display: flex;
            align-items: flex-end;
    
            #offer-heading-content {
                height: 100px;
                display: flex;
                flex-direction: column;
            
                #offer-heading-container {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
    
                    #offer-heading {
                        text-transform: capitalize;
                        font-size: 38px;
                        font-weight: bold;
                        font-family: 'Dancing Script', cursive;
                        color: #3e3e3e;
                        max-width: 300px;
                        text-align: center;
                        margin-top: -5px;
                    }
                }
    
                #offer-subheading-container {
                    flex: 1;
                    display: flex;
    
                    .offer-subheading-block-wrapp {
                        flex: 1;
                    
                        &.offer-subheading-block-container {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            #offer-subheading {
                                margin-top: 15px;
                                color: #bababa;
                            }
                        }
    
                        &.offer-subheading-line-block {
                            display: flex;
    
                            &:nth-child(1) {
                                justify-content: flex-end;
                            }
    
                            &:nth-child(2) {
                                justify-content: flex-start;
                            }
    
                            .offer-subheading-line {
                                height: 1px;
                                width: 70%;
                                background: #e5e5e5;
                                margin-top: 25px;
                            }
                        }
                    }
                }  
            }
        }
    
        #offer-content-wrapp {
            height: 1500px;
            width: 100%;
    
            #offer-content-bgs {
                height: 100%;
                width: 100%;
                
                #offer-content-bg-one {
                    height: 500px;
                    width: 100%;
                    background: $grey;
                }
    
                #offer-content-bg-two {
                    height: 1000px;
                    width: 100%;
                    background: $darkGrey;

                    .offer-bg-txt1 {
                        color: $grey;
                        font-size: 200px;
                        font-family: 'Lobster', cursive;
                        //position: static;
                        margin-top: -100px;
                        position: absolute;
                        letter-spacing: 30px;
                        z-index: 1;
                        //display: none;
                        margin-left: 30px;
                    }
    
                    .offer-bg-txt2 {
                        color: $grey;
                        font-size: 200px;
                        font-family: 'Lobster', cursive;
                        //position: static;
                        margin-top: 250px;
                        position: absolute;
                        letter-spacing: 30px;
                        z-index: 1;
                        //display: none;
                        right: 50px;
                    }

                    .offer-bg-txt3 {
                        color: $grey;
                        font-size: 220px;
                        font-family: 'Lobster', cursive;
                        position: absolute;
                        margin-top: 650px;
                        z-index: 1;
                        letter-spacing: 40px;
                        //display: none;
                        left: 50px;
                    }
                }
            }
    
            #offer-content {
                margin-top: -1500px;
                height: 1500px;
                width: 100%;
    
                #offer-content-container {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
    
                .offer-card {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 5;
    
                    .offer-card-wrapp {
                        height: 80%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
    
                        .offer-card-img-wrapp {
                            flex: 2;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            .offer-card-img-container {
                                height: 220px;
                                width: 220px;
                                border-radius: 50%;
                                box-shadow: 2px 4px 15px #3e3e3e;
                                
                                img {
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                    z-index: 50;
                                }
                            }
                        }
    
                        .offer-card-txt-wrapp {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            flex-direction: column;
    
                            p {
                                color: #626161;
                            }

                            .offer-card-heading {
                                font-family: 'Dancing Script', cursive;
                                font-size: 26px;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1239px) and (min-width: 800px) { 
    #offer {
        height: 800px;
        width: 100%;
        background: $grey;
    
        #offer-heading-wrapp {
            height: 200px;
            width: 100%;
            display: flex;
            align-items: flex-end;
    
            #offer-heading-content {
                height: 100px;
                display: flex;
                flex-direction: column;
            
                #offer-heading-container {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
    
                    #offer-heading {
                        text-transform: capitalize;
                        font-size: 38px;
                        font-weight: bold;
                        font-family: 'Dancing Script', cursive;
                        color: #3e3e3e;
                    }
                }
    
                #offer-subheading-container {
                    flex: 1;
                    display: flex;
    
                    .offer-subheading-block-wrapp {
                        flex: 1;
                    
                        &.offer-subheading-block-container {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            #offer-subheading {
                                margin-top: 15px;
                                color: #bababa;
                            }
                        }
    
                        &.offer-subheading-line-block {
                            display: flex;
    
                            &:nth-child(1) {
                                justify-content: flex-end;
                            }
    
                            &:nth-child(2) {
                                justify-content: flex-start;
                            }
    
                            .offer-subheading-line {
                                height: 1px;
                                width: 70%;
                                background: #e5e5e5;
                                margin-top: 25px;
                            }
                        }
                    }
                }  
            }
        }
    
        #offer-content-wrapp {
            height: 600px;
            width: 100%;
    
            #offer-content-bgs {
                height: 100%;
                width: 100%;
                
                #offer-content-bg-one {
                    height: 200px;
                    width: 100%;
                    background: $grey;
                }
    
                #offer-content-bg-two {
                    height: 400px;
                    width: 100%;
                    background: $darkGrey;
                    display: flex;
                    justify-content: center;
                    letter-spacing: 30px;
    
                    p {
                        color: $grey;
                        font-size: 170px;
                        font-family: 'Lobster', cursive;
                        //position: static;
                        z-index: 1;
                        //display: none;
                        margin-top: -60px;
                    }
    
                    i {
                        bottom: 200px;
                        color: $grey;
                        font-size: 170px;
                        font-family: 'Lobster', cursive;
                        //position: static
                        z-index: 1;
                        //display: none;
                        margin-top: 00px;
                    }
                }
            }
    
            #offer-content {
                margin-top: -600px;
                height: 600px;
                width: 100%;
    
                #offer-content-container {
                    height: 100%;
                    display: flex;
                    //flex-direction: column;
                }
    
                .offer-card {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .offer-card-wrapp {
                        height: 80%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
    
                        .offer-card-img-wrapp {
                            flex: 2;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            .offer-card-img-container {
                                height: 200px;
                                width: 200px;
                                border-radius: 50%;
                                box-shadow: 2px 4px 15px #3e3e3e;
                                z-index: 5;
                                
                                img {
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                    z-index: 50;
                                }
                            }
                        }
    
                        .offer-card-txt-wrapp {
                            flex: 1;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            flex-direction: column;
    
                            .offer-card-heading {
                                font-family: 'Dancing Script', cursive;
                                font-size: 24px;

                                font {
                                    font-size: 24px;
                                }
                            }

                            p {
                                line-height: 18px;
                                color: #626161;
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 1240px) { 
    #offer {
        height: 800px;
        width: 100%;
        background: $grey;
    
        #offer-heading-wrapp {
            height: 200px;
            width: 100%;
            display: flex;
            align-items: flex-end;
    
            #offer-heading-content {
                height: 100px;
                display: flex;
                flex-direction: column;
            
                #offer-heading-container {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
    
                    #offer-heading {
                        text-transform: capitalize;
                        font-size: 38px;
                        font-weight: bold;
                        font-family: 'Dancing Script', cursive;
                        color: #3e3e3e;
                    }
                }
    
                #offer-subheading-container {
                    flex: 1;
                    display: flex;
    
                    .offer-subheading-block-wrapp {
                        flex: 1;
                    
                        &.offer-subheading-block-container {
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            #offer-subheading {
                                margin-top: 15px;
                                color: #bababa;
                            }
                        }
    
                        &.offer-subheading-line-block {
                            display: flex;
    
                            &:nth-child(1) {
                                justify-content: flex-end;
                            }
    
                            &:nth-child(2) {
                                justify-content: flex-start;
                            }
    
                            .offer-subheading-line {
                                height: 1px;
                                width: 70%;
                                background: #e5e5e5;
                                margin-top: 25px;
                            }
                        }
                    }
                }  
            }
        }
    
        #offer-content-wrapp {
            height: 600px;
            width: 100%;
    
            #offer-content-bgs {
                height: 100%;
                width: 100%;
                
                #offer-content-bg-one {
                    height: 200px;
                    width: 100%;
                    background: $grey;
                }
    
                #offer-content-bg-two {
                    height: 400px;
                    width: 100%;
                    background: $darkGrey;
                    display: flex;
                    justify-content: center;
                    letter-spacing: 60px;
    
                    p {
                        color: $grey;
                        font-size: 270px;
                        font-family: 'Lobster', cursive;
                        z-index: 1;
                        //display: none;
                        margin-top: -70px;
                    }
    
                    i {
                        color: $grey;
                        font-size: 270px;
                        font-family: 'Lobster', cursive;
                        z-index: 1;
                        //display: none;
                    }
                }
            }
    
            #offer-content {
                margin-top: -600px;
                height: 600px;
                width: 100%;
    
                #offer-content-container {
                    height: 100%;
                    display: flex;
                    //flex-direction: column;
                }
    
                .offer-card {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .offer-card-wrapp {
                        height: 80%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
    
                        .offer-card-img-wrapp {
                            flex: 2;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
    
                            .offer-card-img-container {
                                height: 270px;
                                width: 270px;
                                border-radius: 50%;
                                box-shadow: 2px 4px 15px #3e3e3e;
                                z-index: 5;
                                
                                img {
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                    z-index: 50;
                                }
                            }
                        }
    
                        .offer-card-txt-wrapp {
                            z-index: 5;
                            flex: 1;
                            display: flex;
                            align-items: center;
                            text-align: center;
                            flex-direction: column;
    
                            .offer-card-heading {
                                font-family: 'Dancing Script', cursive;
                                font-size: 32px;

                                font {
                                    font-size: 32px;
                                }
                            }

                            p {
                                line-height: 26px;
                                color: #626161;
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }

}