#offer {
    height: 1650px;
    width: 100%;
    background: $grey;

    #offer-heading-wrapp {
        height: 150px;
        width: 100%;

        #offer-heading-content {
            height: 100%;
            display: flex;
            flex-direction: column;
        
            #offer-heading-container {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: flex-end;

                #offer-heading {
                    text-transform: capitalize;
                    font-size: 38px;
                    font-weight: bold;
                    font-family: 'Dancing Script', cursive;
                    color: #3e3e3e;
                }
            }

            #offer-subheading-container {
                flex: 1;
                display: flex;

                .offer-subheading-block-wrapp {
                    flex: 1;
                
                    &.offer-subheading-block-container {
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        #offer-subheading {
                            margin-top: 15px;
                            color: #bababa;
                        }
                    }

                    &.offer-subheading-line-block {
                        display: flex;

                        &:nth-child(1) {
                            justify-content: flex-end;
                        }

                        &:nth-child(2) {
                            justify-content: flex-start;
                        }

                        .offer-subheading-line {
                            height: 1px;
                            width: 70%;
                            background: #e5e5e5;
                            margin-top: 25px;
                        }
                    }
                }
            }  
        }
    }

    #offer-content-wrapp {
        height: 1500px;
        width: 100%;

        #offer-content-bgs {
            height: 100%;
            width: 100%;
            
            #offer-content-bg-one {
                height: 500px;
                width: 100%;
                background: $grey;
            }

            #offer-content-bg-two {
                height: 1000px;
                width: 100%;
                background: $darkGrey;

                p {
                    color: $grey;
                    font-size: 220px;
                    font-family: 'Dancing Script', cursive;
                    //position: static;
                    bottom: 80px;
                    z-index: 1;
                    //display: none;
                }
            }
        }

        #offer-content {
            margin-top: -1500px;
            height: 1500px;
            width: 100%;

            #offer-content-container {
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            .offer-card {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                .offer-card-wrapp {
                    height: 80%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    .offer-card-img-wrapp {
                        flex: 2;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;

                        .offer-card-img-container {
                            height: 220px;
                            width: 220px;
                            border-radius: 50%;
                            box-shadow: 2px 4px 15px #3e3e3e;
                            
                            img {
                                height: 100%;
                                width: 100%;
                                border-radius: 50%;
                                z-index: 50;
                            }
                        }
                    }

                    .offer-card-txt-wrapp {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        flex-direction: column;

                        .offer-card-heading {
                            font-family: 'Dancing Script', cursive;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}