@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Tajawal:wght@400;500&display=swap");
@-webkit-keyframes hamburgerLineOne {
  from {
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    position: absolute;
  }
}
@keyframes hamburgerLineOne {
  from {
  }
  30% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
    position: absolute;
  }
}

@-webkit-keyframes hamburgerLineTwo {
  from {
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    position: absolute;
  }
}

@keyframes hamburgerLineTwo {
  from {
  }
  30% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
    position: absolute;
  }
}

@-webkit-keyframes svgDotAnimation {
  from {
  }
  to {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
}

@keyframes svgDotAnimation {
  from {
  }
  to {
    -webkit-transform: translateY(22px);
            transform: translateY(22px);
  }
}

header {
  top: 0;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .logo-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header nav .logo-wrapp .logo {
  font-size: 38px;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-weight: bold;
}

header nav .menu-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-wrapp .hamburger {
  height: 22px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
  z-index: 50;
}

header nav .menu-wrapp .hamburger .line {
  height: 2px;
  width: 26px;
  background: #f0f0f0;
}

header nav .menu-wrapp .hamburger.hamburger-active .line:nth-child(1) {
  -webkit-transform: rotate(50deg) translateY(15px);
          transform: rotate(50deg) translateY(15px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 30px;
  opacity: 1;
}

header nav .menu-wrapp .hamburger.hamburger-active .line:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

header nav .menu-wrapp .hamburger.hamburger-active .line:nth-child(3) {
  -webkit-transform: rotate(-50deg) translateY(-15px);
          transform: rotate(-50deg) translateY(-15px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-origin: top;
          transform-origin: top;
  width: 30px;
  opacity: 1;
}

header nav .header-expanded {
  position: fixed;
  background: #f0f0f0;
  background: #fff;
  height: 300px;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
  top: 80px;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-transition: 1s -webkit-transform;
  transition: 1s -webkit-transform;
  transition: 1s transform;
  transition: 1s transform, 1s -webkit-transform;
  -webkit-box-shadow: 0 0px 5px -2px #ccc;
          box-shadow: 0 0px 5px -2px #ccc;
}

header nav .header-expanded ul {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav .header-expanded ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  border-top: 1px solid #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .header-expanded ul li a {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .header-expanded ul li:nth-child(5) {
  border-bottom: 1px solid #f9f9f9;
}

header nav .header-expanded.expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

header.header-scrolled {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #ccc;
          box-shadow: 0px 0px 5px #ccc;
}

header.header-scrolled nav .logo-wrapp .logo {
  color: #000;
}

header.header-scrolled nav .menu-wrapp .hamburger .line {
  background: #000;
}

header.hide {
  top: -83px;
}

#landing {
  height: 100vh;
  min-height: 700px;
  max-height: 80px;
  width: 100%;
}

#landing #landing-bg {
  height: 100%;
  width: 100%;
  background: url("../assets/Hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#landing #landing-bg #landing-bg-darker {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#landing #landing-bg #landing-bg-darker #landing-wrapp {
  height: 100%;
  width: 100%;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp .header-gap {
  height: 100px;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp #landing-content {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp #landing-content .subheading {
  font-size: 34px;
  color: #c39d63;
  font-family: 'Dancing Script', cursive;
  margin-top: 100px;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp #landing-content .landing-p {
  text-transform: uppercase;
  margin-top: 14px;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp #landing-content .heading {
  text-transform: capitalize;
  font-size: 52px;
  text-align: center;
  margin-top: 20px;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp #landing-content #scroll-svg {
  max-height: 120px;
  position: absolute;
  margin-top: 300px;
}

#landing #landing-bg #landing-bg-darker #landing-wrapp #landing-content #scroll-svg #scroll-svg-dot {
  -webkit-animation: svgDotAnimation 2s ease-in-out infinite;
          animation: svgDotAnimation 2s ease-in-out infinite;
}

#offer {
  height: 1650px;
  width: 100%;
  background: #f9f9f9;
}

#offer #offer-heading-wrapp {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#offer #offer-heading-wrapp #offer-heading-content {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-heading-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-heading-container #offer-heading {
  text-transform: capitalize;
  font-size: 38px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  color: #3e3e3e;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp.offer-subheading-block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp.offer-subheading-block-container #offer-subheading {
  margin-top: 15px;
  color: #bababa;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp.offer-subheading-line-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp.offer-subheading-line-block:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp.offer-subheading-line-block:nth-child(2) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#offer #offer-heading-wrapp #offer-heading-content #offer-subheading-container .offer-subheading-block-wrapp.offer-subheading-line-block .offer-subheading-line {
  height: 1px;
  width: 70%;
  background: #e5e5e5;
  margin-top: 25px;
}

#offer #offer-content-wrapp {
  height: 1500px;
  width: 100%;
}

#offer #offer-content-wrapp #offer-content-bgs {
  height: 100%;
  width: 100%;
}

#offer #offer-content-wrapp #offer-content-bgs #offer-content-bg-one {
  height: 500px;
  width: 100%;
  background: #f9f9f9;
}

#offer #offer-content-wrapp #offer-content-bgs #offer-content-bg-two {
  height: 1000px;
  width: 100%;
  background: #f0f0f0;
}

#offer #offer-content-wrapp #offer-content-bgs #offer-content-bg-two p {
  color: #f9f9f9;
  font-size: 220px;
  font-family: 'Lobster', cursive;
  bottom: 80px;
  z-index: 1;
}

#offer #offer-content-wrapp #offer-content-bgs #offer-content-bg-two i {
  color: #f9f9f9;
  font-size: 220px;
  font-family: 'Lobster', cursive;
  bottom: 80px;
  z-index: 1;
  margin-top: 100px;
}

#offer #offer-content-wrapp #offer-content {
  margin-top: -1500px;
  height: 1500px;
  width: 100%;
}

#offer #offer-content-wrapp #offer-content #offer-content-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#offer #offer-content-wrapp #offer-content .offer-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#offer #offer-content-wrapp #offer-content .offer-card .offer-card-wrapp {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#offer #offer-content-wrapp #offer-content .offer-card .offer-card-wrapp .offer-card-img-wrapp {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#offer #offer-content-wrapp #offer-content .offer-card .offer-card-wrapp .offer-card-img-wrapp .offer-card-img-container {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 15px #3e3e3e;
          box-shadow: 2px 4px 15px #3e3e3e;
}

#offer #offer-content-wrapp #offer-content .offer-card .offer-card-wrapp .offer-card-img-wrapp .offer-card-img-container img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 50;
}

#offer #offer-content-wrapp #offer-content .offer-card .offer-card-wrapp .offer-card-txt-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#offer #offer-content-wrapp #offer-content .offer-card .offer-card-wrapp .offer-card-txt-wrapp .offer-card-heading {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

#about {
  height: 1560px;
  width: 100%;
}

#about .about-img-wrapp {
  height: 280px;
  width: 100%;
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#about .about-img-wrapp:nth-child(1) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#about .about-img-wrapp .about-img {
  height: 220px;
  width: 100%;
  -webkit-box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 45px -9px rgba(0, 0, 0, 0.25);
}

#about .about-img-wrapp .about-img#about-img1 {
  background: url("../assets/about_img1.jpg");
  background-size: cover;
  background-position: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#about .about-img-wrapp .about-img#about-img2 {
  background: url("../assets/about_img2.jpg");
  background-size: cover;
  background-position: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#about #about-txt-wrapp {
  height: 1000px;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about #about-txt-wrapp .about-txt-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

#about #about-txt-wrapp .about-txt-container em {
  width: 100%;
  text-align: center;
  font-size: 240px;
  color: #f9f9f9;
  font-family: 'Lobster', cursive;
}

#about #about-txt-wrapp #about-txt-container {
  height: 1000px;
  width: 100%;
  position: absolute;
}

#about #about-txt-wrapp #about-txt-container .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block .about-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block .about-txt h1 {
  font-weight: 400;
  text-align: center;
  color: #3e3e3e;
  font-size: 32px;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block .about-txt #about-txt-heading2 {
  margin-top: 10px;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block .about-txt p {
  font-size: 16px;
  margin-top: 50px;
  text-align: center;
  line-height: 28px;
  color: #626161;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block .about-txt .about-btn {
  height: 40px;
  width: 170px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid #c39d63;
}

#about #about-txt-wrapp #about-txt-container .container .about-txt-block .about-txt .about-btn a {
  height: 40px;
  width: 170px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}

#menu {
  height: 2300px;
  width: 100%;
  background: #f9f9f9;
}

#menu #menu-wrapp {
  height: 100%;
  width: 100%;
}

#menu #menu-wrapp #menu-bg {
  height: 600px;
  width: 100%;
  background: url("../assets/menu_img1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#menu #menu-wrapp #menu-bg .container {
  height: 2300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu #menu-wrapp #menu-bg .container #menu-container {
  height: 2000px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 15px #ddd;
          box-shadow: 0px 0px 15px #ddd;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp {
  height: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-logo-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-logo-wrapp img {
  max-width: 200px;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-heading-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-heading-container h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container .menu-subheading-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container .menu-subheading-block:nth-child(1) {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container .menu-subheading-block:nth-child(1) .menu-subheading-line {
  height: 1px;
  width: 50%;
  background-color: #e5e5e5;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container .menu-subheading-block:nth-child(2) {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #a6a6a6;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container .menu-subheading-block:nth-child(3) {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-heading-wrapp #menu-heading-heading-wrapp #menu-subheading-container .menu-subheading-block:nth-child(3) .menu-subheading-line {
  height: 1px;
  width: 50%;
  background-color: #e5e5e5;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp {
  height: 1650px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content {
  height: 1600px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list-heading-wrapp {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list-heading-wrapp p {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
  font-weight: bold;
  color: #c39d63;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list-heading-wrapp #menu-list-heading2 {
  margin-top: 15px;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list {
  height: 750px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list #menu-btn {
  height: 55px;
  width: 180px;
  background: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  font-weight: bold;
  border: 2px solid #c39d63;
  border-radius: 25px;
  margin-top: 30px;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list #menu-btn:hover, #menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list #menu-btn:focus {
  background: #c39d63;
  color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list .menu-list-item {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list .menu-list-item .menu-list-item-heading-wrapp {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: 1px dotted #626161;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list .menu-list-item .menu-list-item-heading-wrapp .menu-list-item-heading {
  font-family: 'Lobster', cursive;
  font-size: 24px;
}

#menu #menu-wrapp #menu-bg .container #menu-container #menu-content-wrapp #menu-content .menu-part .menu-list .menu-list-item .menu-list-item-txt-wrapp {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: start;
  color: #626161;
  font-size: 14px;
  line-height: 20px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

::-moz-selection {
  background: #c39d63;
  color: #f0f0f0;
}

::selection {
  background: #c39d63;
  color: #f0f0f0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #333;
}

h1 {
  font-family: 'Lobster', cursive;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 340px;
  margin: auto;
}
/*# sourceMappingURL=style.css.map */