@import './config';
@import './animations';
@import './header';
@import './landing';
@import './offer';
@import './about';
@import './menu';
@import './info';
@import './footer';
@import './comments';


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Tajawal:wght@400;500&display=swap');


* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    //font-family: 'Tajawal', sans-serif;
    font-family: 'Roboto', sans-serif;
}   

::selection {
    background: $gold;
    color: #f0f0f0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background: #333;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 340px;
    margin: auto;
}

@media screen and (min-width: 800px) {
    .container {
        max-width: 740px;
        margin: auto;
    }
}

@media screen and (min-width: 1026px) {
    .container {
        max-width: 940px;
        margin: auto;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
}