<div class="opening-scene">
    <div class="text-wrapp">
        <h1 class="hide">
            <span class="text">Ribarnica I</span>
        </h1>
        <h1 class="hide">
            <span class="text">Riblja Jela</span>
        </h1>
        <h1 class="hide">
            <span class="text">Ihtis</span>
        </h1>
    </div>
</div>

<div class="section" id="home" data-index="0">
    <div class="absolute">
        <img src="/assets/fish-plate.png" alt="fish plate" id="center-img">
        <div class="footer-block">
            <div class="links">
                <ul>
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <p>01</p>            
        </div>

        <p class="bg-text1">RIBLJA JELA</p>
        <p class="bg-text2">RIBARNICA</p>
    </div>

    <div id="home-section1">
        <div class="home-section1-wrapp">
            <nav class="desktop-nav">
                <ul>
                    <li><a href="/about">o nama</a></li>
                    <li><a href="/menu">meni</a></li>
                    <li><a href="/comments">utisci</a></li>
                    <li><a href="/contact">kontakt</a></li>
                </ul>
            </nav>
            <nav class="mobile-nav">
                <div class="hamburger-menu">
                    <div class="hamburger">
                        <div class="hamburger-line"></div>
                        <div class="hamburger-line"></div>
                        <div class="hamburger-line"></div>
                    </div>
                </div>
                <div class="logo-wrapp">
                    <h1 class="logo">Ihtis</h1>
                </div>
            </nav>
            <p id="subheading">Ribarnica i riblja jela Ihtis</p>
            <h1 id="heading"> <span class="span-landing">Jedinstven spoj</span></br> <span class="span-landing">gastronomskog uzitka</span></br> <span class="span-landing">I zdrave ishrane</span></h1>
            <div class="landing-btns">
                <a href="/about" class="landing-cta">
                    <p>o nama</p>
                </a>
            </div>
            <div class="footer-txt">
                <ul>
                    <li>Svjeze</li>
                    <li>Zdravo</li>
                    <li>Ukusno</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="home-section2">
        <div class="home-section2-wrapp">
            <nav>
                <h1>Ihtis</h1>
            </nav>
        </div>
    </div>
</div>

