@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Montserrat:wght@400;600&display=swap');
// font-family: 'Castoro', serif;
// font-family: 'Montserrat', sans-serif;

$beague: #F2CAC8;
$orange: #FB938F;
$yellow: #FDBB75;
$purple: #C36B85;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    position: static;
}

body {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Castoro', sans-serif;
    //font-family: 'Montserrat', sans-serif;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

.sections {
    width: 100%;
    height: 100vh;       
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    //display: none;

    .cover-bar {
        flex: 1;
        background: #000;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(61, 61, 61);
    }
}

.opening-scene {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 500;
    pointer-events: none;
    display: flex;
    background: #000;
    justify-content: center;
    align-items: center;
    //display: none;

    .text-wrapp {
        height: 50%;
        width: 50%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            background: black;
            overflow: hidden;
            font-size: 36px;
            font-weight: bold;

            span {
                transform: translateY(100%);
                display: inline-block;
            }
        }
    }
}

.span-landing:after {
    content: ' ';
    position: absolute;
    left: 0;
    height: 100%;
    width: 110%;
    background: #fff;
    margin-left: -10%;
    z-index: 1;
    transform-origin: 0 0;
}

.desktop-nav {
    display: none;
}

.absolute {
    background: none;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    pointer-events: none;

    #center-img {
        left: -240px;
        position: absolute;
        width: 500px;
        //height: 500px;
        bottom: -200px;
        z-index: 5;
        transform: rotate(200deg);
    }

    .bg-text1, .bg-text2 {
        display: none;
    }

    .footer-block {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        height: 190px;

        .links {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            
            ul {
                margin-right: 15px;
                height: 100%;
                width: 100px;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-around; 

                li {
                    a {
                        text-decoration: none;
                        color: #333;
                        font-size: 20px;
                    }
                }
            }
        }

        p {
            display: none;
            font-size: 34px;
            font-weight: bold;
            margin-right: 10px;
            font-family: 'Castoro', serif;
        }
    }
}

.section {
    width: 100%;
    height: 100vh;
}

.mobile-nav {
    display: flex;
    height: 65px;
    width: 100%;

    .hamburger-menu {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .hamburger {
            height: 28px;
            width: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            cursor: pointer;

            .hamburger-line {
                height: 1px;
                width: 30px;
                background: #000;
            }
        }
    }

    .logo-wrapp {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .logo {
            font-size: 18px;
        }
    }
}

#home-section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

    .home-section1-wrapp {
        height: 100%;
        width: 94%;
    }
}

#subheading {
    margin-top: 50px;
    font-size: 14px;
    text-align: center;
}

#heading {
    text-align: center;
    font-size: 28px;
    line-height: 40px;
    margin-top: 10px;
}

.landing-btns {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    z-index: 5;
    flex-direction: column;

    .landing-cta {
        height: 45px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        text-decoration: none;
        background: rgb(9, 73, 221);
        background: #c75879;
        box-shadow: 1px 3px 5px #c55275;
        transition: .4s;
        opacity: .95;

        p {
            font-weight: bold;
        }

        &:hover {
            opacity: 1;
            box-shadow: 2px 4px 6px #c75879;
        }
    }

    .landing-cta2 {
        height: 45px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #c75879;
        color: #000;
        text-decoration: none;
        transition: .4s;

        p {
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            width: 80px;

            i {
                color: #c75879;
            }
        }
    }
}

.footer-txt {
    display: none;
}

@media screen and (min-width: 1200px) {
    .navigation {
        position: fixed;
        right: 0;
        top: 35%;
        display: flex;
        flex-direction: column;
        z-index: 10;
        height: 250px;
        background: #4A4A4A;
        width: 60px;
        justify-content: space-around;
        align-items: center;
    
        .dot {
            height: 11px;
            width: 11px;
            background: #fff;
            border-radius: 50%;
            z-index: 15;
            cursor: pointer;
    
            &.current-dot {
                background: #c75879;
            }
        }
    }
       
    .sections {
        position: relative;
        top: 0;
        transition: top 1s ease;
    }
      
      .section {
        margin: auto;
        min-height: 100vh;
    }
    
    #home {
        min-height: 100vh;
        height: 980px;
        display: flex;
    
        .absolute {
            background: none;
            position: absolute;
            min-height: 100vh;
            width: 100%;
            pointer-events: none;
    
    
            #center-img {
                left: 50%;
                position: absolute;
                width: 575px;
                //height: 500px;
                top: 200px;
                z-index: 5;
                transform: rotateY(0);
            }
    
            .bg-text1 {
                position: absolute;
                font-family: 'Castoro', sans-serif;
                font-size: 150px;
                opacity: 0.08;
                top: 95px;
                right: 120px;
                z-index: 1;
                //display: none;
            }
    
            .bg-text2 {
                position: absolute;
                font-family: 'Castoro', sans-serif;
                font-size: 150px;
                opacity: 0.08;
                bottom: 100px;
                left: 270px;
                //display: none;
            }
    
            .footer-block {
                position: absolute;
                bottom: 0;
                right: 0;
                height: 135px;
                //background: #4D4848;
                width: 40%;
                display: flex;
                align-items: center;
    
                .links {
                    flex: 4;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
    
                    ul {
                        height: 100px;
                        width: 50%;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
    
                        li {
                            margin-top: 10px;
    
                            a {
                                text-decoration: none;
                                color: #4A4A4A;
                                font-size: 34px;
                                pointer-events: all;
                            }
                        }
                    }
                }
    
                p {
                    font-size: 120px;
                    line-height: 140px;
                    color: #4A4A4A;
                    //color: #fff;
                    margin-left: 50px;
                    font-family: 'Castoro', sans-serif;
                    flex: 1;
                }
            }
        }
    
        #home-section1 {
            width: 60%;
            background: linear-gradient(280deg, #FBBBBC, #F9CBB0);
            background: #FB938F;
            background: linear-gradient(280deg, #FB938F, #FBBBBC);
            background: #fff;
    
            .home-section1-wrapp {
                height: 100%;
                width: 85%;
                margin-left: 15%;                                              
    
                nav {
                    height: 100px;
                    width: 100%;
    
                    ul {
                        height: 100%;
                        width: 80%;
                        list-style: none;
                        display: flex;
                        align-items: center;
    
                        li {
                            flex: 1;
                            display: flex;
                            justify-content: flex-start;
                            a {
                                text-decoration: none;
                                color: #000;
                                font-weight: bold;
                            }
                        }
                    }
                }
    
                #subheading {                                                               
                    color: #333;
                    opacity: 1;
                    margin-top: 180px;
                    font-size: 18px;
                    text-align: left;
                }
    
                #heading {
                    margin-top: 20px;
                    font-size: 48px;
                    //font-weight: bold;
                    line-height: 60px;
                    z-index: 1000;
                    max-width: 600px;
                    text-align: left;
                }
    
                .landing-btns {
                    height: 120px;
                    width: 480px;
                    justify-content: space-between;
                    margin-top: 50px;
                    z-index: 5;
                    display: flex;
                    flex-direction: row;

                    .landing-cta {
                        height: 50px;
                        width: 250px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        color: #fff;
                        text-decoration: none;
                        background: rgb(9, 73, 221);
                        background: #c75879;
                        box-shadow: 1px 3px 5px #c55275;
                        transition: .4s;
                        opacity: .95;
    
                        p {
                            font-weight: bold;
                        }
    
                        &:hover {
                            opacity: 1;
                            box-shadow: 2px 4px 6px #c75879;
                        }
                    }
                }
    
                .footer-txt {
                    position: absolute;
                    //margin-top: 190px;
                    height: 100px;
                    width: 60%;
                    bottom: 15px;
                    display: flex;
    
                    ul {
                        list-style: none;
                        height: 100%;   
                        width: 100%;
                        display: flex;
                        align-items: center;
    
                        li {
                            flex: 1;
                            font-size: 20px;
                        }
                    }
                }
            }                                                                                                                                                                                                                               
        }
    
        #home-section2 {
            width: 40%;
            background: #fff;
            background: linear-gradient(280deg, #FB938F, #FBBBBC);

            .home-section2-wrapp {
                height: 100%;
                width: 80%;
                //margin-left: 15%;
    
                nav {
                    height: 100px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }                                                                                                                                                                                   
            }
        }
    }
}

@media screen and (min-width: 768px) {

    html {
        position: static;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-nav {
        display: flex;
    }

    .cover {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        pointer-events: none;
        display: flex;
    
        .cover-bar {
            flex: 1;
            height: 100%;
            background: #000;
            display: flex;
            align-items: center;
    
            .cover-bar-border {
                height: 90%;
                width: 100%;
                border-right: 1px solid rgb(61, 61, 61);
            }
        }
    }
    
    .opening-scene {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 500;
        pointer-events: none;
        display: flex;
        background: #000;
        justify-content: center;
        align-items: center;
    
        .text-wrapp {
            height: 50%;
            width: 50%;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            h1 {
                background: black;
                overflow: hidden;
                font-size: 100px;
                font-weight: bold;
    
                span {
                    transform: translateY(100%);
                    display: inline-block;
                }
            }
        }
    }
}