#menu-page {
    height: 200vh;
    width: 100%;
}

.menu-page-bg-img {
    height: 70vh;
    width: 100%;
    background: url(/img/brooke-lark-385490.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu-wrapp {
    position: absolute;
    margin-top: -40vh;
    height: 140vh;
    width: 80%;
    margin-left: 10%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 55px #999;
}

.menu-wrapp-heading-container {
    height: 10%;
    width: 90%;
    margin-left: 5%;
}

.menu-wrapp-content-container {
    height: 85%;
    width: 90%;
    margin-left: 5%;
    display: flex;
}

.menu-content-col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.menu-content-col-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-row-wrapp {
    height: 80%;
    width: 80%;
}

.menu-row-content1 {
    height: 50%;
    width: 100%;
    border-bottom: 1px dotted #999;
    display: flex;
}

.menu-row-content2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-content1-wrapp {
    flex: 1;
    display: flex;
    align-items: center;
}

.ime-proizvoda {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Cormorant Garamond', serif;
    z-index: 1000000;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    color: $colorBlack;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
    z-index: 100000;
    color: $colorGrey;
}
