$colorYellow: #ffb441;
//$colorRed: #fa7000
$colorRed: #e3084b;
$colorBlue: #26466D; 
//$colorWhite: #f5f4f2;
$colorWhite: 	#fff;
$colorGrey: rgb(95, 91, 91);
$colorBlack: #222;
$color1: #fff;
$yellow: #fff03b;