.animated-landing-txt1 {
    opacity: 0;
    transform: translateX(-500px);
    transition: 1s all ease-in-out;
}

.animated-landing-txt1-fade {
    opacity: 1;
    transform: translateX(0px);
}

.animated-landing-txt2 {
    opacity: 0;
    transform: translateX(300px);
    transition: 0.7s all ease-in-out;
}

.animated-landing-txt2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-landing-txt3 {
    opacity: 0;
    transform: translateY(150px);
    transition: 1.2s all ease-in-out;
}

.animated-landing-txt3-fade {
    opacity: 1;
    transform: translateY(0);
}

.animated-service-img1 {
    opacity: 0;
    transform: translateX(-90px);
    transition: 0.9s all ease-in-out;
}

.animated-service-img1-fade {
    opacity: 1;
    transform: translateY(0);
}

.animated-service-img2 {
    opacity: 0;
    transform: translateX(-190px);
    transition: 0.9s all ease-in-out;
}

.animated-service-img2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-service-img3 {
    opacity: 0;
    transform: translateX(290px);
    transition: 0.9s all ease-in-out;
}

.animated-service-img3-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-service-txt1 {
    opacity: 0;
    transform: translateX(-190px);
    transition: 1.2s all ease-in-out;
}

.animated-service-txt1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-service-txt2 {
    opacity: 0;
    transform: translateX(190px);
    transition: 1.4s all ease-in-out;
}

.animated-service-txt2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-service-txt3 {
    opacity: 0;
    transform: translateX(-190px);
    transition: 1.6s all ease-in-out;
}

.animated-service-txt3-fade {
    opacity: 1;
    transform: translateY(0);
}

.animated-about-img1 {
    opacity: 0;
    transform: translateX(-190px);
    transition: 1.6s all ease-in-out;
}

.animated-about-img1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-about-img2 {
    opacity: 0;
    transform: translateX(190px);
    transition: 1.6s all ease-in-out;
}

.animated-about-img2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-about-heading1 {
    opacity: 0;
    transform: translateX(-190px);
    transition: 0.8s all ease-in-out;
}

.animated-about-heading1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-about-heading2 {
    opacity: 0;
    transform: translateX(190px);
    transition: 0.8s all ease-in-out;
}

.animated-about-heading2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-about-txt1 {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.8s all ease-in-out;
}

.animated-about-txt1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-about-txt2 {
    opacity: 0;
    transform: translateX(290px);
    transition: 0.8s all ease-in-out;
}

.animated-about-txt2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special-txt1 {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.8s all ease-in-out;
}

.animated-special-txt1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special-card1 {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.8s all ease-in-out;
}

.animated-special-card1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special-card2 {
    opacity: 0;
    transform: translateX(-140px);
    transition: 1s all ease-in-out;
}

.animated-special-card2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special-card3 {
    opacity: 0;
    transform: translateX(290px);
    transition: 1.2s all ease-in-out;
}

.animated-special-card3-fade {
    opacity: 1;
    transform: translateX(0);
}


.animated-special2-txt1 {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.8s all ease-in-out;
}

.animated-special2-txt1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special2-card1 {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.8s all ease-in-out;
}

.animated-special2-card1-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special2-card2 {
    opacity: 0;
    transform: translateX(-140px);
    transition: 1s all ease-in-out;
}

.animated-special2-card2-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-special2-card3 {
    opacity: 0;
    transform: translateX(290px);
    transition: 1.2s all ease-in-out;
}

.animated-special2-card3-fade {
    opacity: 1;
    transform: translateX(0);
}

.services-txt-heading {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.5s all ease-in-out;
}

.service-txt-heading-fade {
    opacity: 1;
    transform: translateX(0);
}

/*.animated-slider-wrapp {
    opacity: 0;
    transform: translateX(-290px);
    transition: 0.5s all ease-in-out;
}*/

.animated-slider-wrapp-fade {
    opacity: 1;
    transform: translateX(0);
}

.animated-footer-txt1 {
    opacity: 0;
    transform: translateX(190px);
    transition: 0.5s all ease-in-out;
}

.animated-footer-txt1-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt2 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 0.5s all ease-in-out;
}

.animated-footer-txt2-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt3 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 0.4s all ease-in-out;
}

.animated-footer-txt3-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt4 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 0.6s all ease-in-out;
}

.animated-footer-txt4-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt5 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 0.8s all ease-in-out;
}

.animated-footer-txt5-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt6 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 1s all ease-in-out;
}

.animated-footer-txt6-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt7 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 1.2s all ease-in-out;
}

.animated-footer-txt7-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-footer-txt8 {
    opacity: 0;
    transform: translateX(-150px);
    transition: 1.2s all ease-in-out;
}

.animated-footer-txt8-fade {
    opacity: 1;
    transform: translateX(0);   
}

.animated-map {
    opacity: 0;
    transform: translateX(150px);
    transition: 0.6s all ease-in-out;
}

.animated-map-fade {
    opacity: 1;
    transform: translateX(0);   
}

