#content {
    height: 90vh;
    width: 100%;
}




@media (min-width: 1281px) {
    .fixed-header {
        position: fixed;
        height: 10vh;
        width: 100%;
        //background: $colorRed;
        z-index: 51;
        //box-shadow: 0px 0px 12px  $colorRed;
        background: none;

        nav {
            width: 90%;
            margin-left: 5%;
            display: flex;
            height: 100%;
            
            .logo-container {
                flex: 1;

                .logo {
                    color: $color1;
                    line-height: 10vh;
                    font-size: 54px;
                    font-family: 'Cormorant Garamond', serif;
                }
            }

            .list {
                flex: 1;
                list-style: none;
                display: flex;
                line-height: 10vh;
                justify-content: space-around;

                li {

                    a {
                        color: $color1;
                        font-size: 18px;
                        opacity: 1;
                    }

                    a:hover {
                        transition: 0.4s;
                        color: #ddd;
                    }
                }
            }

            .hamburger {
                display: none;
            }
        }

    }

    .openh {
        position: fixed;
        height: 10vh;
        width: 100%;
        background: $color1;
        z-index: 51;
        transition: 0.5s;
        //box-shadow: 0px 0px 12px #000;
        border-bottom: 1px solid #ddd;

        nav {
            width: 90%;
            margin-left: 5%;
            display: flex;
            height: 100%;
            
            .logo-container {
                flex: 1;

                .logo {
                    color: $colorBlack;
                    line-height: 10vh;
                    font-size: 54px;
                    font-family: 'Sacramento', cursive;
                }
            }

            .list {
                flex: 1;
                list-style: none;
                display: flex;
                line-height: 10vh;
                justify-content: space-around;

                li {

                    a {
                        color: $colorBlack;
                        font-size: 18px;
                    }

                    a:hover {
                        transition: 0.4s;
                        color: #888;
                    }
                }
            }

            .hamburger {
                display: none;
            }
        }

    }
}
    


.list {
    display: flex;
}

@media screen and (max-width: 1280px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .fixed-header {
        position: fixed;
        height: 10vh;
        width: 100%;
        background: $color1;
        z-index: 50;
        //box-shadow: 0px 0px 12px  $colorRed;

        nav {
            width: 94%;
            margin-left: 3%;
            display: flex;
            height: 100%;

            .logo-container {
                flex: 2;
                display: flex;
                align-items: center;

                .logo {
                    color: $colorRed;
                    font-size: 52px;
                    font-family: 'Sacramento', cursive;
                }
            }

            .list {
                clip-path: circle(100px at 95% -20%);
                -webkit-clip-path: circle(100px at 90% at -20%);
                transition: all 0.4s ease-in;
                margin-left: -3%;
                list-style: none;
                height: 100vh;
                width: 100%;
                flex-direction: column;
                background: $colorRed;
                position: fixed;
                justify-content: space-around;
                align-items: center;

                li {
                    opacity: 0;

                    a {
                        color: $colorBlue;
                        font-size: 26px;
                    }

                    a:hover {
                        transition: 0.4s;
                        color: $colorRed;
                    }
                }

                li.fade {
                    opacity: 1;
                }
            }

            .list.open {
                clip-path: circle(1750px at 90% -10%);
                -webkit-clip-path: circle(1750px at 90% at -10%);
            }

            .link:nth-child(1) {
                transition: all 0.5s ease 0.2s;
            }

            .link:nth-child(2) {
                transition: all 0.5s ease 0.4s;
            }

            .link:nth-child(3) {
                transition: all 0.5s ease 0.6s;
            }

            .link:nth-child(4) {
                transition: all 0.5s ease 0.8s;
            }

            .hamburger-container {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                .hamburger {
                    position: absolute;
                    cursor: pointer;

                    .line:nth-child(1) {
                        height: 3px;
                        width: 20px;
                        margin-bottom: 5px;
                        background: $color1;
                    }

                    .line:nth-child(3) {
                        height: 3px;
                        width: 20px;
                        margin-left: 10px;
                        background: $color1;
                    }

                    .line:nth-child(2) {
                        height: 3px;
                        width: 30px;
                        margin-bottom: 5px;
                        background: $color1;
                    }

                    .line.color {
                        background: $color1;
                    }

                }

            }
        }
    }

    .openh {
        position: fixed;
        height: 8vh;
        width: 100%;
        background: $color1;
        z-index: 50;
        box-shadow: 0px 0px 12px  $colorRed;
        transition: all 1s;

        nav {
            width: 94%;
            margin-left: 3%;
            display: flex;
            height: 100%;

            .logo-container {
                flex: 2;
                display: flex;
                align-items: center;

                .logo {
                    color: $colorRed;
                    font-size: 52px;
                    font-family: 'Cormorant Garamond', serif;
                }
            }

            .list {
                clip-path: circle(100px at 95% -20%);
                -webkit-clip-path: circle(100px at 90% at -20%);
                transition: all 0.4s ease-in;
                margin-left: -3%;
                list-style: none;
                height: 100vh;
                width: 100%;
                flex-direction: column;
                background: $colorRed;
                position: fixed;
                justify-content: space-around;
                align-items: center;

                li {
                    opacity: 0;

                    a {
                        color: $color1;
                        font-size: 32px;
                    }

                    a:hover {
                        transition: 0.4s;
                        color: $colorBlue;
                    }
                }

                li.fade {
                    opacity: 1;
                }
            }

            .list.open {
                clip-path: circle(1750px at 90% -10%);
                -webkit-clip-path: circle(1750px at 90% at -10%);
            }

            .link:nth-child(1) {
                transition: all 0.5s ease 0.2s;
            }

            .link:nth-child(2) {
                transition: all 0.5s ease 0.4s;
            }

            .link:nth-child(3) {
                transition: all 0.5s ease 0.6s;
            }

            .link:nth-child(4) {
                transition: all 0.5s ease 0.8s;
            }

            .hamburger-container {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 100%;

                .hamburger {
                    position: absolute;
                    cursor: pointer;

                    .line:nth-child(1) {
                        height: 3px;
                        width: 20px;
                        margin-bottom: 5px;
                        background: $colorBlue;
                    }

                    .line:nth-child(3) {
                        height: 3px;
                        width: 20px;
                        margin-left: 10px;
                        background: $colorBlue;
                    }

                    .line:nth-child(2) {
                        height: 3px;
                        width: 30px;
                        margin-bottom: 5px;
                        background: $colorBlue;
                    }

                    .line.color {
                        background: $colorBlue;
                    }

                }

            }
        }
    }
}